



 @media only screen and (max-width: 650px) {
    label {
        display: block;
        cursor: pointer;
    }
    .menu {
        text-align: center;
        width: 100%;
        display: none;
    }
    .menu a{
        display: block;
        border-bottom: 1px solid #EAEAEB;
        margin: 0;
    }
    #toggle:checked + .menu {
        display: block;
    }
 }

   
    .column1 {
    float: left;
    width: 70%;
    padding: 10px;
    height: 800px; 
    }
    .column2 {
    border-left: 1px solid black;
    float: right;
    width: 30%;
    padding: 10px;
    height: 800px; 
    }
    div.scroll {
    width: 270px;
    height: 400px;
    overflow: scroll;
    }