<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Index Page</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet"  href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" />
	<link rel="stylesheet" href="style.css">
</head>
<body>
	<header>
	<!--Navagtion Bar -->
	
	<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
			<div class="container-fluid">
					<a class="navbar-brand" href="Home.html">Best Surgeon</a>
					<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>
	
					<div class="collapse navbar-collapse" id="navbarSupportedContent">
						<ul class="navbar-nav ml-auto">
							<li class="nav-item active">
								<a class="nav-link" href="Home.html">About Us</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="Service.html">Services</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="Contact.html">Contact Us</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="Booking.html">Book Appointment</a>
							</li>
						</ul>
					</div>
				</div>
			</nav>
	



	<!-- Image Slider-->
	<div id="demo" class="carousel slide" data-ride="carousel">
			
			<ul class="carousel-indicators">
				<li data-target="#demo" data-slide-to="0" class="active"></li>
				<li data-target="#demo" data-slide-to="1"></li>
				<li data-target="#demo" data-slide-to="2"></li>
			</ul>
			<div class="carousel-inner 1">
				<div class="carousel-item active">
					<img src="buslogo.PNG">
					<div class="carousel-caption">
						<h3>Los Angeles</h3>
						<p>We had such a great time in LA!</p>
					</div>   
				</div>
				<div class="carousel-item 2">
					<img src="pic1.jpg" >
					<div class="carousel-caption">
						<h3>Chicago</h3>
						<p>Thank you, Chicago!</p>
					</div>   
				</div>
				<div class="carousel-item 3">
					<img src="pic2.jpg">
					<div class="carousel-caption">
						<h3>New York</h3>
						<p>We love the Big Apple!</p>
					</div>   
				</div>
			</div>
		</div>
      
   </header>
	<!-- Jumbotron-->
<main>


		 <div div id ="jum" class="jum jumbotron-fluid">
	   <div class ="jumbotron">
		  <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 col-xl-10">
			 <h1 class="display-4">Kingston Surgery</h1>
	   <p class="lead">Welcome to the leading surgery center in Kingston to create a booking click button</p>
	   </div>
	   <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-2">
     <a href="Booking.html"><button type="button" class="btn btn-outline-secondary btn-lg">Make Booking</button></a>
		 </div>
		 </div>
		 
		
		
		<main>
		
			


          <div class="container">
            <div class="row">
                <div class="card-group">
										<div class="card">
											<img class="card-img-top" src="https://images.unsplash.com/photo-1533025782032-634283c7c7ad?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1352&q=80" alt="Card image cap">
											<div class="card-body">
												<h5 class="card-title">Award Winning Help</h5>
												<p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
											</div>
											<div class="card-footer">
												<small class="text-muted">Last updated 3 mins ago</small>
											</div>
										</div>
										<div class="card">
											<img class="card-img-top" src="https://images.unsplash.com/photo-1532938911079-1b06ac7ceec7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1189&q=80" alt="Card image cap">
											<div class="card-body">
												<h5 class="card-title">Supportful Staff</h5>
												<p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
											</div>
											<div class="card-footer">
												<small class="text-muted">Last updated 3 mins ago</small>
											</div>
										</div>
										<div class="card">
											<img class="card-img-top" src="https://images.unsplash.com/photo-1516549655169-df83a0774514?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="Card image cap">
											<div class="card-body">
												<h5 class="card-title">Latest Technology</h5>
												<p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
											</div>
											<div class="card-footer">
												<small class="text-muted">Last updated 3 mins ago</small>
											</div>
										</div>
									</div>
	</main>


	
	
	

	<!-- Copyright -->
	<div class="footer-copyright text-center py-3">© 2018 Copyright:
		<a href="#"> Kingston.Sugery</a>
	</div>
	<!-- Copyright -->

</footer>
<!-- Footer -->






	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>

</body>
</html>